body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.array-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.array-element {
    padding: 20px;
    margin: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.highlight {
    background-color: yellow;
}
